
@{
    ViewBag.Title = "Usuario";
}

<div class="jumbotron">
    <h2>Usuários</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Username</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Gerente</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Ellen</td>
                    <td>elensalicani</td>
                    <td>Desenvolvimento</td>
                    <td>Desenvolvedor</td>
                    <td>Phillip</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Ellen</td>
                    <td>elensalicani</td>
                    <td>Desenvolvimento</td>
                    <td>Desenvolvedor</td>
                    <td>Phillip</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ellen</td>
                    <td>elensalicani</td>
                    <td>Desenvolvimento</td>
                    <td>Desenvolvedor</td>
                    <td>Phillip</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>