@model Infra.ViewModel.ChamadoViewModel
@{
    ViewBag.Title = "Criar Chamado";
}
<div class="jumbotron">
    <h3>Criar Chamado</h3>
</div>
<div class="card">
    <div class="card-body">
        <form>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email Solicitante:</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tituloChamado">Titulo Chamado:</label>
                        <input type="text" id="tituloChamado" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Usuário:</label>
                        <input readonly type="text" id="username" value="@Session["UserName"].ToString()" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sistema">Sistema:</label>
                        <input type="text" id="sistema" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="prioridade">Prioridade:</label>
                        <input type="text" id="prioridade" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="severidade">Severidade:</label>
                        <input type="text" id="severidade" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group form-check">
                        <label class="form-check-label" for="aprovacao">Precisa de aprovação?</label>
                        <input type="checkbox" class="form-check-input" id="aprovacao">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descricao">Descrição do Chamado:</label>
                        <textarea class="form-control" id="descricao" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <button type="submit" onclick="@Html.Action("CriarChamado","Assistencia")" class="btn btn-primary">Criar Chamado</button>
                </div>
            </div>
        </form>
    </div>
</div>

